<div class="footer__contents__info">
  <div class="footer__contents__info__box">
    <h3>Airbnb</h3>
      <a href="/">
        <ul>
          <li>会社情報</li>
          <li>採用情報</li>
          <li>プレス</li>
          <li>ポリシー</li>
          <li>ヘルプ</li>
          <li>ダイバーシティ&ビロンギング</li>
        </ul>
      </a>
  </div>
</div>
<div class="footer__contents__info">
  <div class="footer__contents__info__box">
    <h3>スタッフのおすすめ</h3>
      <a href="/">
        <ul>
          <li>信頼＆安全</li>
          <li>旅行クーポン</li>
          <li>Airbnb Citizen</li>
          <li>出張</li>
          <li>ガイドブック</li>
          <li>Airbnbmag</li>
        </ul>
      </a>
  </div>
</div>
<div class="footer__contents__info">
  <div class="footer__contents__info__box">
    <h3>ホスティング</h3>
      <a href="/">
        <ul>
          <li>ホストになる理由</li>
          <li>おもてなしの心</li>
          <li>ホストの責任</li>
          <li>コミュニティーセンター</li>
        </ul>
      </a>
  </div>
</div>
