<div class="footer__contents__lng">
  <!-- language -->
  <div class="footer__contents__lng-lng">
    <select class="footer__contents__lng-lng-select">
      <option value="">日本語</option>
      <option value="ca" >Català</option>
      <option value="ms" >Bahasa Melayu</option>
      <option value="da" >Dansk</option>
      <option value="de" >Deutsch</option>
      <option value="en" >English</option>
      <option value="es" >Español</option>
      <option value="el" >Eλληνικά</option>
      <option value="fr" >Français</option>
      <option value="hr" >Hrvatski</option>
      <option value="it" >Italiano</option>
      <option value="hu" >Magyar</option>
      <option value="nl" >Nederlands</option>
      <option value="no" >Norsk</option>
      <option value="pl" >Polski</option>
      <option value="pt" >Português</option>
      <option value="fi" >Suomi</option>
      <option value="sv" >Svenska</option>
      <option value="tr" >Türkçe</option>
      <option value="is" >Íslenska</option>
      <option value="cs" >Čeština</option>
      <option value="ru" >Русский</option>
      <option value="th" >ภาษาไทย</option>
      <option value="zh" >中文 (简体)</option>
      <option value="zh-TW" >中文 (繁體)</option>
      <option value="ja" >日本語</option>
      <option value="ko" >한국어</option>
    </select>
  </div>

  <!-- currency -->
  <div class="footer__contents__lng-lng">
    <select class="footer__contents__lng-lng-select">
      <option value="">JPY</option>
      <option value="ca" >AED</option>
      <option value="ms" >AUD</option>
      <option value="da" >CAD</option>
      <option value="de" >CHF</option>
      <option value="en" >CNY</option>
      <option value="es" >CZK</option>
      <option value="el" >DKK</option>
      <option value="fr" >EUR</option>
      <option value="hr" >GBP</option>
      <option value="it" >HKD</option>
      <option value="hu" >HUF</option>
      <option value="nl" >JPY</option>
      <option value="no" >KRW</option>
      <option value="pl" >KWD</option>
      <option value="pt" >MXN</option>
      <option value="fi" >NOK</option>
      <option value="sv" >NZD</option>
      <option value="tr" >PLN</option>
      <option value="is" >SAR</option>
      <option value="cs" >SEK</option>
      <option value="ru" >SGD</option>
      <option value="th" >THB</option>
      <option value="zh" >TRY</option>
      <option value="zh-TW" >USD</option>
      <option value="ja" >ZAR</option>
    </select>
  </div>
</div>
