<footer>
  <div class="footer-container">
    <div class="footer">
      <div class="footer__contents">
        <%= render 'footer__lng-cry' -%>
        <%= render 'footer__info' -%>
      </div>
    </div>
    <div class="copy-rights">
      <%= image_tag 'airbnb2.jpg', id: 'footer__logo-airbnb' %>
      <p>© Airbnb, Inc.</p>
      <a href="/">
        <ul>
          <li class="fa fa-instagram"></li>
          <li class="fa fa-twitter"></li>
          <li class="fa fa-facebook"></li>
          <li>サイトマップ</li>
          <li>プライバシー</li>
          <li>利用規約</li>
        </ul>
      </a>
    </div>
  </div>
</footer>
