<header>
  <div class="header-container">
    <div class="header">
      <div class="header__logo">
        <a href="/">
          <%= image_tag 'airbnb.jpeg', class: 'header__logo-airbnb' %>
        </a>
        <div class="header__search">
          <form class="header__search__form">
            <input type="text" placeholder="&#xF002;  どこでも" class="inputs">
            <input type="date" placeholder="&#xF073;  いつでも" class="inputs">
            <input type="text" placeholder="&#xF0C0;  宿泊人数" class="inputs">
          </form>
        </div>
      </div>
      <div class="header__user">
        <a href="/">
          <%= image_tag 'user_icon.png', class: 'header__user-icon' %>
        </a>
      </div>
      <div class="header__host">
        <a href="/" class="header__host-text">
          ホストになる
        </a>
      </div>
    </div>
  </div>
</header>
