<div class="hosting">
  <div class="hosting__contents">
    <div class="hosting__contents__image">
      <%= image_tag 'hosting1.jpg', class: "hosting__contents__image--img" %>
      <div class="hosting__contents__image__box">
        <div class="hosting__contents__image__box-title">
          <span>Airbnbのホストであなたの世界が広がる</span>
        </div>
        <div class="hosting__contents__image__box-text">
          <span>旅をしなくても、海外の人々とのふれあいを楽しみながら、生活のゆとりを。</span>
        </div>
      </div>
    </div>

    <div class="hosting__contents__body">
      <div class="hosting__contents__body__title">
        <p>Airbnbで  "ホスト"を始めよう! </p>
        <h3>たった5つのステップですぐ登録できます</h3>
      </div>
      <div class="hosting__contents__body__form">

      <form>
        <div class="hosting__contents__body__form--name">
          <div id="hosting-steps">STEP1</div>
          <h3>物件に名前をつける</h3>
          <input type="text" name="" placeholder="リスティングのタイトル" class="hosting-inputs">
        </div>

        <div class="hosting__contents__body__form--adress">
          <div id="hosting-steps">STEP2</div>
          <h3>居住地はどこですか？</h3>
          <h4>国</h4>
          <input type="text" name="" placeholder="" class="hosting-inputs">
          <h4>都道府県 (ex: Tokyo)</h4>
          <input type="text" name="" placeholder="例) 東京都" class="hosting-inputs">
          <h4>市区町村 (ex: Minato-ku)</h4>
          <input type="text" name="" placeholder="例) 港区" class="hosting-inputs">
          <h4>番地・号 (ex: 1-1-1 Roppongi) ※ 数字は半角</h4>
          <input type="text" name="" placeholder="例) 六本木 1-1-1" class="hosting-inputs">
        </div>

        <div class="hosting__contents__body__form--room_type">
          <div id="hosting-steps">STEP3</div>
          <h3>掲載するのはどんなタイプの部屋ですか？</h3>
          <label>
            <input type="radio" name="room_type" class="room_type-inputs"> 貸切
            <input type="radio" name="room_type" class="room_type-inputs"> 個室
            <input type="radio" name="room_type" class="room_type-inputs"> シェアルーム
          </label>
        </div>

        <div class="hosting__contents__body__form--guest">
          <div id="hosting-steps">STEP4</div>
          <h3>受け入れ可能なゲストの最大人数</h3>
          <input type="number" placeholder="最大ゲスト人数  (※ 半角数字で記入)" class="hosting-inputs"><span>  名</span>
        </div>

        <div class="hosting__contents__body__form--price">
          <div id="hosting-steps">STEP5</div>
          <h3>1人/1泊あたりの料金</h3>
          <input type="text" name="" placeholder="価格  (※ 半角数字で記入)" class="hosting-inputs"><span>  円(税抜)</span>
        </div>

        <div class="hosting__contents__body__form--submit">
          <input type="submit" name="" value="送信する">
        </div>
      </form>

      </div>
    </div>
  </div>
</div>
