<div class="inn__container">
  <div class="inn__container__contents">
    <div class="inn__container__contents__box">
      <div class="inn__container__contents__box-image">
        <a href="/rooms/<%= rooms.id%>">
          <%= image_tag 'inn1.jpg', class: 'inn__container__contents__box-image--photo' %>
        </a>
      </div>
      <div class="inn__container__contents__box-price">
        <p>¥ 10,000</p>
      </div>
      <div class="inn__container__contents__box-name">
        <p> Splendid Switzerland location!!!!!!!!!!!!!!!!!!!</p>
      </div>
      <div class="inn__container__contents__box-info">
        <p class="roomType">Entire home/apt</p>
        <p class="beds">・2beds</p>
      </div>
    </div>
  </div>
</div>
