<div class="details">
  <div class="details__image">
    <%= image_tag 'inn2.jpg', class: 'details__image-img' %>
  <div class="details__contents">


<!-- left contents -->
    <div class="details__contents__left">
      <div class="details__contents__left__box">
        <div class="details__contents__left__box-title">
          <h2>rooms.room_name</h2>
          <i>rooms.address</i>
        </div>
        <div class="details__contents__left__box-room_type">
          <div class="details__contents__left__box-room_type--icon">
            <i class="fa fa-home fa-3x"></i><br>
            <span>rooms.room_type</span>
          </div>
          <div class="details__contents__left__box-room_type--icon">
            <i class="fa fa-users fa-3x"></i><br>
            <span>ゲストrooms.guest人</span>
          </div>
          <div class="details__contents__left__box-room_type--icon">
            <i class="fa fa-bed fa-3x"></i><br>
            <span>ベッドrooms.guest人</span>
          </div>
        </div>

        <h3>リスティングについて</h3>
        <div class="explanation">
すべての設備が整った客室
- 新築でバス・トイレ別、パウダールーム付
- コージーとクリーンな部屋
- 良い場所

<span>簡単なアクセス</span>

それは最高のスポットから買い物/チル/食事/飲み物や散歩に至るまでのステップです
いくつかの地下鉄が近くにあります
- ディスカウントストア、DonQnilote、コンビニエンスストア、100yenショップ、レストラン、デパート、ビックロ、エレクトロニクスショップはすべて近くにあります

<span>スペース</span>

-Entire Apaartment(あなたが滞在している唯一のゲストです。すべてがあなたのためです)
- すべての装備された部屋(あなたの家の中で自由に感じることができます)
一晩(セミダブル)
ソファベッド(セミダブル)
部屋 Wifi
無料のポータブル無線LAN

<span>ゲストの立入り範囲</span>

アパート内のフルアクセス。
建物内の他の床や屋根へのアクセスを避けてください。

<span>ゲストとの交流</span>

- 私は日本語、韓国語、少し英語であなたと連絡が取れる。
- 私はアパートの近くに住んでいますので、何か問題が発生した場合は、私に電話してください。
- 詳細な指示は、予約の確認後に提供されます。

ありがとうございました!
          <br><a href="/" class="explanation--contact">ホストに連絡</a>
        </div>

        <div class="details__contents__left__box__info">
            <h4 class="details__contents__left__box__info-title">スペース</h4>
            <div class="details__contents__left__box__info-rows">
              最大定員: room.guest名<br>
              バスルーム: １<br>
              ベッド: room.guest台<br>
              チェックイン: 15:00〜<br>
              チェックアウト: 11:00<br>
            </div>
            <h4 class="details__contents__left__box__info-title">ハウスルール</h4>
            <div class="details__contents__left__box__info-rows">
              禁煙<br>
              ペット禁止<br>
              イベント禁止<br>
            </div>
            <h4 class="details__contents__left__box__info-title">料金</h4>
            <div class="details__contents__left__box__info-rows">
              清掃料金: ¥ 2,000<br>
              追加人数の料金: ¥3,000 /泊<br>
              保証金: ¥20,000<br>
            </div>
        </div>
        <div class="details__contents__left__box__host">
          <div class="details__contents__left__box__host-name">
            ホストは<i>users.nickname</i>さん
          </div>
          <div class="details__contents__left__box__host-text">
            <div class="explanation">
Hello! I'm users.nickname!
Thanks for visiting my profile.
I like cooking and listening to old pop music.
I speak Korean, Japanese and a little English.
I was born in Japan and I have been living in Tokyo Shinjuku for almost 30 years.
I love to meet new people and make many friends.
I really hope your trip in Japan will be a memorable and unforgettable experience!
If you have any questions, please ask me anytime. I' ll do my best for your comfortable stay.

Happy Airbnb
            <br><a href="/" class="explanation--contact">ホストに連絡</a>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- right contents -->
    <div class="details__contents__right">
      <form>
        <div class="details__contents__right__box">
          <div class="details__contents__right__box-price">
            <p>¥ 10000 <span>/1泊</span></p>
          </div>
          <div class="details__contents__right__box-check">
            <div id="check_inout">
              <p>チェックイン</p>
              <p>チェックアウト</p>
              <input type="date" name="check_in">
              <input type="date" name="check_out">
            </div>
          </div>
          <div class="details__contents__right__box-guest">
            <p>ゲスト</p>
            <input type="number" name="guests" step="" placeholder="宿泊人数">
            <p id="person">名</p>
          </div>
          <div class="details__contents__right__box-resv">
            <input type="submit" value="予約する" id="resv-btn">
          </div>
          <div class="details__contents__right__box-text">
            <p id="no-money"><i>まだ請求は発生いたしません。</i></p>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
