.details {
  &__image {
    &-img {
    max-height: 600px;
    width: 100%;
    }
  }

  &__contents {

// left-contents

    &__left {
      word-wrap: normal;
      box-sizing: border-box;
      width: 700px;
      margin: 50px 100px;
      color: #484848;
      font-size: 15px;
      letter-spacing: -0.8px;
      &__box {
        border-top: 1px solid #e4e4e4;

        &-title {
          border-bottom: 1px solid #e4e4e4;
          padding-bottom: 20px;
          h2 {
            font-size: 36px;
            font-weight: bold;
            margin: 30px 0 10px 0;
          }
          i {
            color: #e4e4e4;
          }
        }

        &-room_type {
          width: 100%;
          margin: 20px 30px 110px;
          &--icon {
            float: left;
            margin-left: 120px;
            text-align: center;
          }
        }

        h3 {
          clear: both;
          font-size: 22px;
          padding: 30px 0 0 0;
          border-top: 1px solid #e4e4e4;
        }
        .explanation {
          word-break: normal;
          word-wrap: break-word;
          white-space: pre-wrap;
          border-bottom: 1px solid #e4e4e4;
          span {
            font-size: 18px;
          }
          &--contact {
            color: #008489;
            font-size: 18px;
            text-decoration: none;
          }
        }

        &__info {
          &-title {
            font-size: 22px;
            margin: 20px 0;
          }
          &-rows {
            line-height: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e4e4e4;
          }
        }

        &__host {
          margin-top: 20px;
          &-name {
            font-size: 22px;
          }
          &-text {

          }
        }

      }
    }

// right-contents

    &__right {
      float: right;
      width: 315px;
      height: 350px;
      margin-bottom: 20px;
      position: fixed;
      top: 100px;
      right: 30px;
      &__box {
        width: 100%;
        height: 100%;
        font-size: 15px;
        color: #484848;
        background-color: #fff;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        &-price {
          height: 50px;
          background-color: rgba(60,63,64,0.9);
          p {
            word-wrap: break-word;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            line-height: 50px;
            letter-spacing: -0.2px;
            padding-left: 20px;
            span {
              font-size: 15px;
              font-weight: normal;
              letter-spacing: -0.7px;
            }
          }
        }

        &-check {
          width: 100%;
          #check_inout {
            margin-left: 20px;
            label {
              margin: 10px 50px 10px 0;
              float: left;
            }
            input {
              float: left;
              height: 50px;
              font-size: 11px;
              padding: 0 5px;
              margin: 0 5px 10px;
              border: 1px solid #D3D3D3;
              border-radius: 3px;
            }
            input:focus {
              border: 1px solid #008489;
              outline: 0;
            }
            input[type="date"]::-webkit-outer-spin-button,
            input[type="date"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        &-guest {
          clear: both;
          margin-left: 25px;
          margin-bottom: 10px;
          float: left;
          label {
            margin-bottom: 10px;
          }
          input {
            width: 200px;
            height: 50px;
            padding-left: 20px;
            font-size: 30px;
          }
          input:focus {
            border: 1px solid #008489;
            outline: 0;
          }
          #person {
            float: right;
            font-size: 30px;
            margin-top: 5px;
            margin-left: 10px;
          }
        }

        &-resv {
          margin: 20px 20px;
          clear: both;
          #resv-btn {
            width: 275px;
            height: 45px;
            font-size: 20px;
            color: #fff;
            text-align: center;
            line-height: 45px;
            border: 1px solid #ff5a5f;
            border-radius: 5px;
            background-color: #ff5a5f;
          }
          #resv-btn:focus {
            background-color: red;
            outline: 0;
          }
        }
      }
      #no-money {
        width: 100%;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
