//diaries#new#edit

.newdiary {
  margin: 80px 80px 0;
  box-sizing: border-box;
  color: #484848;
  font-size: 18px;
  .newdiary__left-wrapper {
    width: 35%;
    float: left;
  }
  &__image {

    #diary-photo {
      display: inline-block;
      position: relative;
      width: 220px;
      margin-top: 30px;
      padding: 20px 40px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      border-radius: 4px;
      background-color: #ff5a5f;
      overflow: hidden;
    }

    #diary-photo-btn {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      cursor: pointer;
    }
  }

  #image_preview {
    width: 300px;
    height: 300px;
  }

  #diary-no-images {
    width: 100px;
    height: 100px;
  }

  .newdiary__right-wrapper {
    float: right;
    width: 60%;
    margin-left: 30px;
    }

  .newdiary-labels {
    display: block;
    font-size: 24px;
    margin: 30px 0 0;
  }


  &__nation {
    &-form {
      width: 50%;
      padding: 10px;
      color: #484848;
      background-color: #fff;
      border: 1px solid #D3D3D3;
      border-radius: 3px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    &-form:focus {
      border: 1px solid #008489;
      outline: 0;
    }
  }

  &__city {
    &-form {
      width: 70%;
      padding: 10px;
      color: #484848;
      background-color: #fff;
      border: 1px solid #D3D3D3;
      border-radius: 3px;
    }
    &-form:focus {
      border: 1px solid #008489;
      outline: 0;
    }
  }

  &__article_title {
    &-form {
      width: 70%;
      padding: 10px;
      color: #484848;
      background-color: #fff;
      border: 1px solid #D3D3D3;
      border-radius: 3px;
    }
    &-form:focus {
      border: 1px solid #008489;
      outline: 0;
    }
  }

  &__article {
    &-form {
      resize: none;
      width: 100%;
      height: 400px;
      padding: 10px;
      color: #484848;
      background-color: #fff;
      border: 1px solid #D3D3D3;
      border-radius: 3px;
    }
    &-form:focus {
      border: 1px solid #008489;
      outline: 0;
    }
  }

  &__publicity {
    display: block;
    &--input {
      display: none;
     }
    &--input + .diary-publicity-btn:before {
      content: "\f372";
      font-family: "Ionicons";
      color: #D3D3D3;
      font-size: 20px;
    }
    &--input:checked + .diary-publicity-btn:before {
      content: "\f373";
      color: #008489;
    }
    strong {
      margin-left: 10px;
      font-size: 20px;
    }
  }

  &__submit {
    margin-top: 20px;
  }

  #diary-submit-btn {
    padding: 15px 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff5a5f;
    border: 1px solid #ff5a5f;
    border-radius: 5px;
  }
  #diary-submit-btn:focus {
    background-color: red;
    outline: 0;
  }
}


//diaries#show

.showdiary {
  margin: 80px 80px 0;
  box-sizing: border-box;
  color: #484848;
  font-size: 18px;
  &__left-wrapper {
    width: 35%;
    float: left;
  }

  &__image {
    &--size {
      width: 300px;
      height: 300px;
    }
  }

  &__right-wrapper {
    float: right;
    width: 60%;
    margin-left: 30px;
  }

  &__article_title {
    font-size: 32px;
    font-weight: bold;
  }

  &__date {
    font-size: 16px;
  }

  &__location {
    .fa-map-marker {
      margin: 0 5px;
      font-size: 28px;
      color: #008489;
    }
  }

  &__edit {
    text-decoration: none;
    font-size: 14px;
    color: #008489;
  }
  &__edit:hover {
    border-bottom: 1px solid #008489;
  }

  &__article {
    width: 100%;
    overflow: hidden;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
