#all-contents{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  min-width: 600px;

  .header-container {
    padding-bottom: 40px;
    .header {
      box-sizing: border-box;
      width: 100%;
      min-width: 800px;
      height: 80px;
      padding-top: 20px;
      position: fixed;
      background-color: #fff;
      border-bottom: 1px solid #e4e4e4;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
      z-index: 1000;
      &__logo{
        &-airbnb {
          width: 40px;
          height: 40px;
          padding-top: 2px;
          padding-left: 15px;
          float: left;
        }
      }

      &__search{
        float: left;
        &__form {
          margin-left: 20px;
          .inputs {
            height: 40px;
            width: 150px;
            font-family: FontAwesome;
            padding: 0 10px;
            text-align:left;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 5px;
            border: 1px solid #D3D3D3;
            color: #484848;
            font-size: 15px;
          }
        }
      }

      &__user {
        float: right;
          &-icon {
            margin-right: 20px;
            padding: 10px 0;
            width: 30px;
            height: 30px;
          }
          &-icon:hover {
            border-bottom:2px solid #484848;
            cursor: pointer;
          }
          &-text {
            font-size: 13px;
            color: #484848;
            margin: 14px 30px 0 0;
          }
          &-text:hover {
            border-bottom:2px solid #484848;
            padding-bottom: 7px;
            cursor: pointer;
          }
          &-account {
            font-size: 13px;
            color: #484848;
            margin: 14px 20px 0 0;
          }
          &-account:hover {
            border-bottom:2px solid #484848;
            padding-bottom: 7px;
            cursor: pointer;
          }

        &__box {
          display: none;
          width: 250px;
          color: #484848;
          font-size: 14px;
          line-height: 50px;
          padding: 3px 16px 3px;
          position: absolute;
          top: 80px;
          right: 0;
          border: 1px solid #D3D3D3;
          background-color: #fff;
          &-li {
            border-bottom: 1px solid #D3D3D3;
          }
          &-li:hover {
            border-bottom: 1px solid #484848;
          }
          &-tag {
            display: block;
            color: #484848;
            text-decoration: none;
          }
        }
      }

//diary incremental search
      .diary__box {
        display: none;
        position: absolute;
        width: 200px;
        top: 80px;
        right: 180px;
        font-size: 16px;
        border: 1px solid #D3D3D3;
        background-color: #fff;
        box-sizing: border-box;
        &__search {
          display: block;
          width: 150px;
          margin: 20px auto;
          padding: 10px;
          font-size: 14px;
          letter-spacing: -1px;
          border: 1px solid #D3D3D3;
          border-radius: 4px;
        }
        &__search:focus {
          border: 1px solid #008489;
          outline: 0;
        }
      }
      &__diary__search {
        display: block;
        padding: 10px 0;
        font-size: 14px;
        color: #484848;
        text-decoration: none;
        &--location {
          margin: 0 20px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
        }
        &--title {
          margin: 0 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
        }
      }
      &__diary__search:hover {
        background-color: rgba(0,132,137,0.3)
      }
      #incremental-no-result {
        margin: 20px;
        font-weight: bold;
        text-align: center;
      }


      &__host {
        float: right;
        margin-top: 10px;
        &-text {
          float: right;
          text-decoration: none;
          margin-right: 25px;
          padding-bottom: 10px;
          font-size: 13px;
          color: #484848;
          cursor: pointer;
        }
        &-text:hover {
          border-bottom:2px solid #484848;
        }
      }
    }
  }
}
