.hosting {
  width: 100%;
  &__contents {
    &__image {
      position: relative;
      top: 43px;
      &--img {
        width: 100%;
        height: auto;
        max-height: 650px;
      }
      &__box {
        box-sizing: border-box;
        width: 30%;
        height: auto;
        position: absolute;
        right: 40px;
        top: 310px;
        background-color: #ff5a5f;
        color: #fff;
        border: 1px solid #ff5a5f;
        border-radius: 4px;
        letter-spacing: -0.8px;
        &-title {
          font-size: 44px;
          font-weight: bold;
          text-align: center;
          margin: 10px 10px;
        }
        &-text {
          font-size: 17px;
          text-align: center;
          margin: 10px 10px;
        }
      }
    }

    &__body {
      margin: 150px 100px 80px 100px;
      &__title {
          font-size: 50px;
          font-weight: bold;
          letter-spacing: -3px;
          color: #484848;
          text-align: center;
          h3 {
            font-size: 25px;
            margin-top: 10px;
          }
      }

      &__form {
        font-size: 40px;
        color: #484848;
        letter-spacing: -0.8px;
        text-align: center;
        #hosting-steps {
          color: #ff5a5f;
          margin-top: 120px;
        }
        h3 {
          padding-top: 120px;
          margin-bottom: 50px;
          border-top: 1px solid #e4e4e4;
        }


        &--name {
          .hosting-inputs {
            font-size: 20px;
            width: 60%;
            max-width: 500px;
            height: 60px;
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            padding-left: 15px;
          }
        }

        &--adress {
          h4 {
            font-size: 20px;
            margin-top: 50px;
          }
          .hosting-inputs {
            font-size: 20px;
            width: 60%;
            max-width: 500px;
            height: 60px;
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            padding-left: 15px;
          }
        }

        &--room_type {
          label {
            font-size: 30px;
            .room_type-inputs {
              margin: 0 10px 0 50px;
            }
          }
        }

        &--guest {
          .hosting-inputs {
            font-size: 20px;
            width: 60%;
            max-width: 500px;
            height: 60px;
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            padding-left: 15px;
          }
          span {
            font-size: 30px;
          }
        }

          &--price {
            .hosting-inputs {
              font-size: 20px;
              width: 60%;
              max-width: 500px;
              height: 60px;
              border: 1px solid #D3D3D3;
              border-radius: 4px;
              padding-left: 15px;
            }
          span {
            font-size: 30px;
          }
          }

          &--submit {
            margin-top: 200px;
            input {
              width: 275px;
              height: 45px;
              border: 1px solid #ff5a5f;
              border-radius: 5px;
              background-color: #ff5a5f;
              font-size: 20px;
              color: #fff;
              text-align: center;
              line-height: 45px;
           }
          }
      }
    }
  }
}
