
.inn {
  box-sizing: border-box;
  width: 1396px;
  margin: 90px 42px 0;
  float:left;
  .inn-text {
    color: #484848;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.8px;
    margin: 0 0 20px 8px;
  }

  &__container{
    float: left;
    &__contents {
      width: 333px;
      height: 222px;
      float: left;
      margin: 0 8px;
        &__box {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          float: left;
          &-image {
            width: 333px;
            height: 222px;
            &--photo {
              max-width: 333px;
              max-height: 222px;
            }
          }

          &-price {
            width: 80px;
            @include inn__contens-text;
          }

          &-name {
            width: 253px;
            @include inn__contens-text;
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &-info {
            float: left;
            .roomType {
              color: #484848;
              font-size: 15px;
              float: left;
              padding-right: 5px;
            }
            .beds {
              color: #484848;
              font-size: 15px;
              float: left;
            }
          }
        }
    }
  }
}

