#modal__contents{
  &-signup{
  z-index: 4;
  display: none;
  position: fixed;
  width:50%;
  margin: 0 auto;
  border: 2px solid #aaa;
  background-color: #fff;
  text-align: center;
  }
  &-signin{
  z-index: 4;
  display: none;
  position: fixed;
  width:50%;
  margin: 0 auto;
  border: 2px solid #aaa;
  background-color: #fff;
  text-align: center;
  }
}
// .modal-content {
//   z-index: 4;
//   display: none;
//   position: fixed;
//   width:50%;
//   margin: 0 auto;
//   border: 2px solid #aaa;
//   background-color: #fff;
//   text-align: center;
// }

#modal-overlay{
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
