.flash__box {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background-color: $flash-bg;
  color: #484848;
  &-messages {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    letter-spacing: -1px;
  }
  .ion-ios-close-empty {
    position: absolute;
    right: 20px;
    font-size: 36px;
  }
}

.slick-prev:before {
  color: #484848;
  content: "\f360";
  font-family: "Ionicons";
  font-size: 50px;
}
.slick-next:before {
  color: #484848;
  content: "\f362";
  font-family: "Ionicons";
  font-size: 50px;
}


.slick-next {
  top: 110px;
  right: 5px;
  z-index: 99;
}
.slick-prev {
  top: 110px;
  left: -25px;
  z-index: 100;
}

.inn {
  box-sizing: border-box;
  margin-top: 90px;
  padding: 0 42px;
  width: 100%;
  &-text {
    width: 100%;
    color: #484848;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.8px;
    margin: 0 8px;
  }

  &__container{
    float: left;
    width: 100%;
    .wrapper {
      margin: 8px;
      width: 100%;
      a {
        outline: 0;
      }
    }
    &--image {
      width: 100%;
    }
    &--price {
      min-width: 20%;
      @include inn__container--text;
    }

    &--name {
      width: 80%;
      @include inn__container--text;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &--info {
      clear: both;
      .roomType {
        color: #484848;
        font-size: 15px;
        float: left;
      }
      .beds {
        color: #484848;
        font-size: 15px;
      }
    }
  }
}

