.edit__contents {
  width: 100%;
  height: 50%;
  margin: 100px 64px;
  box-sizing: border-box;
  &__side {
    float: left;
    width: 20%;
    &__list {
      li {
        margin: 10px 0;
        font-size: 18px;
      }
      .lists-titles {
        color: #aaa;
        text-decoration: none;
      }
      .lists-titles:hover {
        color: #e4e4e4;
      }
    }
  }

  &__user {
    float: right;
    position: absolute;
    right: 64px;
    width: 60%;
    height: auto;
    padding-bottom: 20px;
    border: 1px solid #e4e4e4;
    &__bar {
      width: 100%;
      background-color: #edefed;
      height: 40px;
      border-bottom: 1px solid #e4e4e4;
      &-title {
        padding-left: 20px;
        font-size: 16px;
        color: #484848;
        line-height: 40px;
      }
    }

    &__form {
      width: 100%;
      color: #484848;
      font-size: 14px;
      &-lists {
        margin: 30px 30px;
        &-field {
          float: right;
          clear: both;
          width: 60%;
          height: 35px;
          margin-left: 20px;
          padding-left: 10px;
          border: 1px solid #aaa;
          border-radius: 3px;
        }
        &-field:focus {
          border: 1px solid #008489;
          outline: 0;
        }
        &-title {
          text-align: right;
          line-height: 40px;
        }
      }
    }
  }

    #edit-btn {
      margin-top: 10px;
      margin-left: 30px;
      padding: 6px 25px;
      color: #fff;
      font-size: 16px;
      border: 1px solid #ff5a5f;
      border-radius: 3px;
      background-color: #ff5a5f;
    }
}
