@import "reset";
@import "mixin";
@import "variable";
@import "slick";
@import 'slick-theme';
@import "ionicons";
@import "font-awesome";

@import "modal";
@import "user";
@import "header";
@import "footer";
@import "inn";
@import "detail";
@import "hosting";
