@import "reset";
@import "mixin";
@import "variable";
@import "slick";
@import 'slick-theme';
@import "ionicons";
@import "font-awesome";

@import "header";
@import "footer";
@import "modal";

//user#edit
@import "user";
//rooms#index
@import "index";
//rooms#show
@import "details";
//rooms#new
@import "hosting";
//order#new
@import "order";
